html {
  height: 100%;
}

body {
  min-height: 100%;
}

#app-container {
  min-height: 100vh;
}

#content {
  display: flex;
  margin: 1rem;
}

.inner-content:nth-child(1) {
  flex: 60%;
}
.inner-content:nth-child(2) {
  flex: 40%;
}
.divider {
  border: 1px solid #e4e4e4;
  margin: 0.5rem 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
  padding: 1rem;
}

.page-header-content {
  padding: 0.5rem;
}

.page-header-content:nth-child(1) {
  font-size: 16px;
}
.page-header-content:nth-child(2) {
  background-color: #75ca62;
  font-size: 16px;
}
.page-header-content:nth-child(3) {
  font-size: 16px;
}
